// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  font-size:20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  background-color: gray;
  padding: 20px 35px;
  cursor: pointer;
  box-shadow: 0 7px #000;
  margin: 200px 590px;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.select-menu {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
}

li {
  list-style: none;
  float: left;
  margin-right: 20px;
}
