// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.input-product {
  margin-top: 10px;
  margin-left: 40px;
}

input {
  background-color: transparent;
  outline-width: 0;
}

.resistration {
  margin-top: 20px;
}

.destroy {
  display: inline-block;
  padding-top: 17px;
  padding-left: 90px;
}
