<div class="menu">
  <h2>- ログイン -</h2>
</div>
<div class="form users-form">
  <div class="form-body input-form">
    <%= form_tag("/login") do %>
      <div>
        <p>メールアドレス</p>
        <input name="email" value="<%= @email %>">
        <p>パスワード</p>
        <input type="password" name="password" value="<%= @password %>">
      </div>
        <input type="submit" value="ログイン" class="resistration">
    <% end %>
  </div>
</div>
